{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Bootsrap Practical</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap4.min.css' %}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
    <script src="{% static 'lib/jquery-3.3.1.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="{% static 'lib/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <style type="text/css">
        .table-borderless td, .table-borderless th {
            border: 0;
        }
    </style>
</head>

<body style="background-color: #6a963c;">
    <div class="container bg-dark text-white" >

        <div class="container row rounded">
            
            <div class="col-lg-7 mt-5">
                <div class="col-lg-10 mx-auto">
                    <table class="table table-sm table-borderless table-hover ">
                        <tr><td>Name :</td><td>{{user.profile.name}}</td></tr>
                        <tr><td>Gender :</td><td>{{user.profile.sex}}</td></tr>
                        <tr><td>Email :</td><td>{{user.email}}</td></tr>
                        <tr><td>Registered UID :</td><td>{{user.username}}</td></tr>
                        <tr><td>Service Number :</td><td>{{user.profile.service_number}}</td></tr>
                        <tr><td>Phone Number :</td><td>{{user.profile.phone_number}}</td></tr>
                        <tr><td>Date Of Birth :</td><td>{{user.profile.birth_date}}</td></tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="container row mx-auto">
            <div class="col-12 mt-5 border rounded">
                <h3 class="text-center d-block my-3">About User</h3>
            </div>
            <div class="col-12 mt-2 text-justify border rounded">
                <h3 class="ml-1 d-block my-3">Heading 1</h3>
                <P class="container">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</P>
            </div>
            <div class="col-12 mt-2 text-justify border rounded">
                <h3 class="ml-1 d-block my-3">Heading 2</h3>
                <P class="container">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</P>
            </div>
        </div>

    </div>

</body>

</html>
