{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Signup</title>
		<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
		<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->
	
   
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap4.min.css' %}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <script src="{% static 'lib/jquery-3.3.1.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="{% static 'lib/bootstrap.min.js' %}"></script>
</head>
<body>
    <div id="hero" class="row">
        <div id="hero-overlay"></div>
        <div class="col-lg-5 mx-auto my-5" id="signup-box">
        	<div class="m-auto text-center bg-info p-3 text-white rounded">Register New Account</div>
        	<form method="POST"  class="form-group mx-auto" style="background: rgba(0, 0, 0, 0.9);">
        		{% csrf_token %}
        		<center>
				
              <img src="{% static "accounts/image/avatar.png" %}" class="img-fluid py-3 rounded-circle"/>
						</center>
        		<div class="row pt-3 mx-auto pt-3">
	        		<div class="col-6 mx-auto form-group input-group">
		              <div class="input-group-prepend">
		                <span class="input-group-text"><i class="fas fa-file-signature"></i></span>
		              </div>

        			{{profile_form.name}}

		            </div>
	        		<div class="col-6 mx-auto form-group input-group">
		              <div class="input-group-prepend">
		                <span class="input-group-text"><i class="fa fa-envelope"></i></span>
		              </div>
                      {{user_form.email}}
		            </div>
		        </div>
		        <div class="row pt-3 mx-auto">
	        		<div class="col-6 mx-auto form-group input-group">
		              <div class="input-group-prepend">
		                <span class="input-group-text"><i class="fa fa-fingerprint"></i></span>
		              </div>
		              {{user_form.username}}
		            </div>
	        		<div class="col-6 mx-auto form-group input-group">
		              <div class="input-group-prepend">
		                <span class="input-group-text"><i class="fab fa-servicestack"></i></span>
		              </div>
		              {{profile_form.service_number}}
		            </div>
		        </div>
		        <div class="row pt-3 mx-auto">
	        		<div class="col-6 mx-auto form-group input-group">
		              <div class="input-group-prepend">
		                <span class="input-group-text"><i class="fas fa-phone"></i></span>
		              </div>

		              {{profile_form.phone_number}}
		            </div>
	        		<div class="col-6 mx-auto form-group input-group">
		              <div class="input-group-prepend">
		                <span class="input-group-text"><i class="fa fa-key"></i></span>
		              </div>
		              {{user_form.password}}
		            </div>
		        </div>
		        <div class="row pt-3 mx-auto">
	        		<div class="col-6 mx-auto form-group input-group">
		              <div class="input-group-prepend">
		                <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
		              </div>
		              {{profile_form.birth_date}}
		            </div>
	        		<div class="col-6 mx-auto form-group input-group">
		              <div class="input-group-prepend">
		                <span class="input-group-text"><i class="fa fa-mars-double"></i></span>
		              </div>
		              {{profile_form.sex}}
		            </div>
		            <div class="col-6 mx-auto form-group input-group">
		              <div class="input-group-prepend">
		                <span class="input-group-text"><i class="fa fa-mars-double"></i></span>
		              </div>
		              {{profile_form.designation}}
		            </div>
		            <div class="col-6 mx-auto form-group input-group">
		              <div class="input-group-prepend">
		                <span class="input-group-text"><i class="fa fa-mars-double"></i></span>
		              </div>
		              {{profile_form.railway_zone}}
		            </div>
								<div class="col-6 mx-auto form-group input-group">
		              <div class="input-group-prepend">
		                <span class="input-group-text"><i class="fa fa-mars-double"></i></span>
		              </div>
		              {{profile_form.email_id}}
		            </div>
								<div class="col-6 mx-auto form-group input-group">
		              <div class="input-group-prepend">
		                <span class="input-group-text"><i class="fa fa-mars-double"></i></span>
		              </div>
		              {{profile_form.picture}}
		            </div>
		            <script type="text/javascript">
		            	$('input,select').addClass('form-control');
		            </script>
		        </div>

	            <center><button type="submit" class="btn btn-primary text-center my-2">Signup <i class="far fa-paper-plane"></i></button></center>
	            <div class="text-center text-white">Already Registered ? <a href="/accounts/login" onclick="change();">Login Here</a> </div><br>
        	</form>
        </div>
    </div>
</body>
</html>
