{% extends "main.html" %}
{% block content %}
<div class="container">
	<h3 class="text-center mb-2">List Of News Papers</h3>
	<br>
	<div class="row  mx-auto">
		{% for c in city %}
		<div class="col-lg-3 col-md-4 col-sm-6 col-xsm-6">
			<ul id="c1" class="list-group text-center">
				<li class="my-2"><a href="{% url 'rates:paper_rates' pk=c.pk %}">{{c.city_text}}</a></li>
			</ul>
		</div>
		{% endfor %}
		<!-- <div class="col-lg-3 col-md-4 col-sm-6 col-xsm-6">
			<ul id="c2" class="list-group text-center">
				<li class="my-2"></li>
			</ul>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6 col-xsm-6">
			<ul id="c3" class="list-group text-center">
				<li class="my-2"></li>
			</ul>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6 col-xsm-6">
			<ul id="c4" class="list-group text-center">
				<li class="my-2"></li>
			</ul>
		</div> -->
	</div>
</div>
<!-- <script type="text/javascript">
	for (var i = 1; i <= 122; i++) {
		var c = parseInt(i/30) + 1 ;
		$('#c'+c).append('<li class="my-2">NewsPaper '+i+'</li>');
	}
	//$('c1,c2,c3,c4').css({"font-size":"30px"})
</script> -->

{% endblock %}