{% extends "main.html" %}
{% block content %}

<!-- Table Section -->        
<div class="">
    <div class="newspapercategory-table">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    {{news_rates.rate_text}}
                   <!-- text wala part
                   <p class="green-bg-para text-center">Tariff Rates in Rupees per Sq.cm. (w.e.f 1-05-2018)</p>
                    <table>
<thead>
<tr class=""tableizer-firstrow"">
<th>Edition</th>
<th>Inner Page (B/W)</th>
<th>Inner Page (Colour)</th>
<th>Front Page (B/W)</th>
<th>Front Page (Colour)</th>
<th>Back Page (B/W)</th>
<th>Back Page (Colour)</th>
</tr>
</thead>
<tbody>
<tr>
<td>Varanasi</td>
<td>540</td>
<td>1080</td>
<td>1080</td>
<td>2700</td>
<td>810</td>
<td>2160</td>
</tr>
<tr>
<td>Allahabad</td>
<td>270</td>
<td>540</td>
<td>540</td>
<td>1350</td>
<td>405</td>
<td>1080</td>
</tr>
<tr>
<td>Gorakpur</td>
<td>270</td>
<td>540</td>
<td>540</td>
<td>1350</td>
<td>405</td>
<td>1080</td>
</tr>
<tr>
<td>Kanpur</td>
<td>540</td>
<td>1080</td>
<td>1080</td>
<td>2700</td>
<td>810</td>
<td>2160</td>
</tr>
<tr>
<td>Lucknow</td>
<td>360</td>
<td>720</td>
<td>720</td>
<td>1800</td>
<td>540</td>
<td>1440</td>
</tr>
<tr>
<td>Agra</td>
<td>315</td>
<td>630</td>
<td>630</td>
<td>1575</td>
<td>473</td>
<td>1260</td>
</tr>
<tr>
<td>Bareily</td>
<td>270</td>
<td>540</td>
<td>540</td>
<td>1350</td>
<td>405</td>
<td>1080</td>
</tr>
<tr>
<td>Haldwani (Uttarkhand)</td>
<td>180</td>
<td>360</td>
<td>360</td>
<td>900</td>
<td>270</td>
<td>720</td>
</tr>
<tr>
<td>Patna</td>
<td>540</td>
<td>1080</td>
<td>1080</td>
<td>2700</td>
<td>810</td>
<td>2160</td>
</tr>
<tr>
<td>Ranchi (Dhanbad)</td>
<td>360</td>
<td>720</td>
<td>720</td>
<td>1800</td>
<td>540</td>
<td>1440</td>
</tr>
<tr>
<td>Jamshedpur</td>
<td>270</td>
<td>540</td>
<td>540</td>
<td>1350</td>
<td>405</td>
<td>1080</td>
</tr>
<tr>
<td>All Edition</td>
<td>1710</td>
<td>3420</td>
<td>3420</td>
<td>8550</td>
<td>2565</td>
<td>6840</td>
</tr>
<tr>
<td>UP Edition</td>
<td>1350</td>
<td>2700</td>
<td>2700</td>
<td>6750</td>
<td>2025</td>
<td>5400</td>
</tr>
<tr>
<td>Bihar + Jharkhand</td>
<td>720</td>
<td>1440</td>
<td>1440</td>
<td>3600</td>
<td>1080</td>
<td>2880</td>
</tr>
<tr>
<td>Jharkhand</td>
<td>450</td>
<td>900</td>
<td>900</td>
<td>2250</td>
<td>675</td>
<td>1800</td>
</tr>
<tr>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Combined Rate</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Eastern &amp; Central U.P.</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Varanasi, Allahabad, Gorakhpur, Kanpur, &amp; Lucknow</td>
<td>1170</td>
<td>2340</td>
<td>2340</td>
<td>5850</td>
<td>1755</td>
<td>4680</td>
</tr>
<tr>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Western &amp; Central U.P.</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Agra, Bareily, Kanpur+ Lucknow</td>
<td>900</td>
<td>1800</td>
<td>1800</td>
<td>4500</td>
<td>1350</td>
<td>3600</td>
</tr>
<tr>
<td>Varasani + Allahabad + Gorakpur</td>
<td>720</td>
<td>1440</td>
<td>1440</td>
<td>3600</td>
<td>1080</td>
<td>2880</td>
</tr>
<tr>
<td>Varanasi + Kanpur+ Lucknow</td>
<td>1080</td>
<td>2160</td>
<td>2160</td>
<td>5400</td>
<td>1620</td>
<td>4320</td>
</tr>
<tr>
<td>Varanasi + Kanpur</td>
<td>990</td>
<td>1980</td>
<td>1980</td>
<td>4950</td>
<td>1485</td>
<td>3960</td>
</tr>
<tr>
<td>Varanasi + Lucknow</td>
<td>810</td>
<td>1620</td>
<td>1620</td>
<td>4050</td>
<td>1215</td>
<td>3240</td>
</tr>
<tr>
<td>Kanpur + Lucknow</td>
<td>810</td>
<td>1620</td>
<td>1620</td>
<td>4050</td>
<td>1215</td>
<td>3240</td>
</tr>
<tr>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Western U.P. + Uttarkhand</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Agra + Breilly + Haldwani</td>
<td>504</td>
<td>1008</td>
<td>1008</td>
<td>2520</td>
<td>756</td>
<td>2016</td>
</tr>
<tr>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Capital Edition</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Lucknow + Patna + Ranchi</td>
<td>990</td>
<td>1980</td>
<td>1980</td>
<td>4950</td>
<td>1485</td>
<td>3960</td>
</tr>
<tr>
<td>Varanasi + Kanpur+ Lucknow+Patna+ Ranchi</td>
<td>1170</td>
<td>2340</td>
<td>2340</td>
<td>5850</td>
<td>1755</td>
<td>4680</td>
</tr>
</tbody>
</table> -->
                   <!-- <h2>Check out<strong> The Hindu</strong> Display  <strong>Ad Rates</strong></h2>
                    <p class="green-bg-para text-center">Tariff Rates in Rupees per Sq.cm. (w.e.f 1-05-2018)</p>
                    <div class="resp-table">
                        <table>
                            <thead>
                                <tr>
                                    <td>Edition</td>
                                    <td>Base</td>
                                    <td>Mon to Thus</td>
                                    <td>Fri &amp; Sat</td>
                                    <td>Sunday</td>
                                    <td>Front Page</td>
                                    <td>Page 3</td>
                                    <td>Back Page</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Eastern Edition</td>
                                    <td></td>
                                    <td>220</td>
                                    <td>240</td>
                                    <td>230</td>
                                    <td>60</td>
                                    <td></td>
                                    <td></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->




<script type="text/javascript">
    $('table').addClass('table table-striped bg-white text-dark shadow border rounded bg-success ');
    $('h2').addClass('text-center');
    $('table thead tr td').addClass('text-white mt-1 bg-secondary');
</script>
{% endblock %}
